<!-- <div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">With Icon</h3>
            <p class="text-muted m-b-30 font-13"> This is the Icon wizrd without validation.</p>
            <div id="exampleBasic2" class="wizard">
                <ul class="wizard-steps" role="tablist">
                    <li class="active col-md-4" role="tab">
                        <h4><span><i class="ti-user"></i></span>Shop Details</h4>
                    </li>
                    <li role="tab" class="col-md-4">
                        <h4><span><i class="ti-credit-card"></i></span>Location</h4>
                    </li>
                    <li role="tab" class="col-md-4">
                        <h4><span><i class="ti-check"></i></span>Owner</h4>
                    </li>
                </ul>
                <div class="wizard-content">
                    <div class="wizard-pane active" role="tabpanel">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                        synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex
                        squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.</div>
                    <div class="wizard-pane" role="tabpanel">
                        <shop-location></shop-location>
                        <div>
                            <div class="wizard-pane" role="tabpanel">Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo
                                retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed
                                craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth
                                PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever
                                gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred
                                you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable
                                tofu synth chambray yr.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <router-outlet></router-outlet>